13 1 0x01 4 192 1234567890 1234567890123
name                            type data
hits                            4    9000
misses                          4    1000
size                            4    4294967296
c                               4    8589934592
